@font-face {
	font-family: "UniNeueBlack-Italic";
	src: url("../fonts/UniNeueBlack-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "UniNeueBlack";
	src: url("../fonts/UniNeueBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniNeueBold-Italic";
	src: url("../fonts/UniNeueBold-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: "UniNeueBold";
	src: url("../fonts/UniNeueBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "UniNeueBook-Italic";
	src: url("../fonts/UniNeueBook-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "UniNeueBook";
	src: url("../fonts/UniNeueBook.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniNeueHeavy-Italic";
	src: url("../fonts/UniNeueHeavy-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: "UniNeueHeavy";
	src: url("../fonts/UniNeueHeavy.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "UniNeueLight-Italic";
	src: url("../fonts/UniNeueLight-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: "UniNeueLight";
	src: url("../fonts/UniNeueLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "UniNeueRegular-Italic";
	src: url("../fonts/UniNeueRegular-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
	font-family: "UniNeueRegular";
	src: url("../fonts/UniNeueRegular.ttf") format("truetype");
	font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "UniNeueThin-Italic";
	src: url("../fonts/UniNeueThin-Italic.ttf") format("truetype");
	font-style: italic;
    font-weight: 100;
}
@font-face {
	font-family: "UniNeueThin";
	src: url("../fonts/UniNeueThin.ttf") format("truetype");
	font-style: normal;
    font-weight: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--UniNeueBlack-i: "UniNeueBlack-Italic";
	--UniNeueBlack: "UniNeueBlack";
	--UniNeueBold: "UniNeueBold";
	--UniNeueBold-i: "UniNeueBold-Italic";
	--UniNeueBook-i: "UniNeueBook-Italic";
	--UniNeueBook: "UniNeueBook";
	--UniNeueHeavy-i: "UniNeueHeavy-Italic";
	--UniNeueHeavy: "UniNeueHeavy";
	--UniNeueLight-i: "UniNeueLight-Italic";
	--UniNeueLight: "UniNeueLight";
	--UniNeueRegular-i: "UniNeueRegular-Italic";
	--UniNeueRegular: "UniNeueRegular";
	--UniNeueThin-i: "UniNeueThin-Italic";
	--UniNeueThin: "UniNeueThin";
	--color-white: #ffff;
	--color-dark: #282728;
}

section {
	width: 100%;
	width: 1920px;
	background-image: url('/img/Форма-.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	max-width: 1720px;

}

/*Header*/
.header {
	max-width: 1720px;
    text-align: center;
    margin: auto;
	padding: 46px 75px 81px 75px;
}


.header-header {
    display: flex;
	margin-bottom: 44px;
  
}
.header-header__logo {
	margin-right: 30px;
	width: 184px;
}
.header-header__title {
width: 321px;
font-family: var(--UniNeueBook);
font-size: 18px;
line-height: 22px;
text-align: start;
margin-right: 100px;
}
.header-header__title p{
	font-family: var(--UniNeueRegular);
	font-size: 18px;
	
}
.header-header__title span {
	font-family: var(--UniNeueHeavy);
	font-size: 18px;
	line-height: 22px;
}
.header-header__local {
    width: 240px;
	display: flex;
	text-align: start;
    margin-right: 130px;
	
}
.local {
	border: 1px solid #e1e2e3;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	margin-right: 19px;
	cursor: pointer;
	position: relative;
}
.local:hover {
	transition: all 0.3s;
	opacity: .5;
} 

.local::after {
	content: "\f3c5";
	font-family: 'FontAwesome';
	color: #fd524f;
	position: absolute;
	top: 33%;
	right: 50%;
}
.map {
	width: 100%;
}
.show {
	display: none;
}
.local__title {
	font-size: 16px;
	line-height: 21px;
	margin-top: 15px;
	font-family: var(--UniNeueRegular);
}
.header-header__local span {
	font-family: var(--UniNeueHeavy);
	font-size: 16px;
	font-weight: 800;
}
.header-header__btn {
	padding: 12px 31px;
	height: 69px;
	border-radius: 8px;
	border: none;
	background-color: #313d4b;
	font-family: var(--UniNeueBold);
	font-size: 16px;
	font-weight: 700;
	color: var(--color-white);
	margin-right: 105px;
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
}
.header-header__btn::after{
 content: "";
  position: absolute; 
  top: 0; 
  left: -2em;
  width: 30px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skewX(-50deg);
  transition: all 0.3s;
  animation-duration: 3s;
  animation-delay: 0.01s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-position: 100% 0%;
  animation-name: slideme;

}

@keyframes slideme {
	0% {
	  left: -30px;
	  margin-left: 0px;
	}
	30% {
	  left: 110%;
	  margin-left: 20px;
	}
	100% {
	  left: 110%;
	  margin-left: 20px;
	}
  }

.header-header__btn:hover {
	transition: all 0.3s;
	opacity: .5;
}
.header-header__contacts {
    display: flex;
    flex-direction: column;
	font-family: var(--UniNeueHeavy);
	font-weight: 800;
	vertical-align: top;
}
.header-header__contacts p{
	font-family: var(--UniNeueHeavy);
	font-weight: 800;
	font-size: 22px;
}
.header-header__contacts-social {
	display: flex;
	margin: auto;
}


.header-header__contacts-social a:not(:last-child) {
 margin-right: 8px;
 cursor: pointer;
}
.header-header__contacts-social a:hover {
	transition: all 0.3s;
	opacity: .5;
}
.viber {
	background-color: #7460f3;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.header-header__contacts-social i{
	color:  var(--color-white);
	line-height: 50px;

}
.massege {
	background-color: #00a2f2;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.WhatsApp {
	background-color: #25d266;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
/*nav-menu*/

.header-header__nav {
	width: 1570px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: var(--UniNeueBold);
	font-size: 16px;
	font-weight: 700px;
	color: var(--color-dark);
	
}
.header-header__nav a {
	text-decoration: none;
	color: var(--color-dark);
	cursor: pointer;
}
.header-header__nav a:hover {
	transition: all 0.3s;
	opacity: .5;
}
/*block */

.block {
	display: flex;
	width: 1570px;
	margin: auto;
	
	
}

.block-block{
	width: 900px;

}
.block-block__title {
	width: 880px;
	margin-bottom: 37px;
}
.block-block__title  p{
	font-size: 60px;
	font-family: var(--UniNeueBook);
}
.block-block__title span {
	font-size: 60px;
	font-family: var(--UniNeueBold);
}

.bullet {
	display: flex;
    margin-bottom: 44px;
}

.bullet__item {
	display: flex;
	font-size: 20px;
	position: relative;
}
.bullet__item::before {
	content: "";
	border-top: 4px solid #fe6250;
	width: 23px;
	transform: rotate(-45deg);
	position: absolute;
	left: -12px;
}
.number {
	display: inline-block;
	font-family: var(--UniNeueHeavy);
	font-size: 72px;
	line-height: 72px;
	font-weight: 800;
    padding-right: 12px;
    padding-left: 23px;
}

.bullet__item p {
  font-family: var(--UniNeueBook);
  width: 217px;
  margin-right: 70px;
}
.item-last {
	margin-right: 0;
}
.bullet__item span {
   font-family: var(--UniNeueBold);
   font-weight: 700;
}

.bullet__under {
	display: flex;
	padding-bottom: 100px;
}
.bullet__under-title {
    width: 389px;
	font-family: var(--UniNeueRegular);
	font-size: 18px;
	margin-right: 140px;
	
}
.bullet__under-title p {
	margin-bottom: 22px;
	line-height: 28px;
	padding-left: 20px;
}
.title_span {
  background-color: var(--color-white);
  border-radius: 3px;
}

.bullet__under-btn {
	display: flex;
	border: none;
	width: 430px;
	padding: 32px 40px;
	background-color: #fe6250;
	border-radius: 5px;	
    box-shadow: 0px 19px 49px 0px rgba(254, 88, 81, 0.1),0px 4px 0px 0px rgba(230, 60, 60, 0.004);	  
    cursor: pointer;
	position: relative;
	overflow-x: hidden;
}
.bullet__under-btn::after {
	content: "";
	position: absolute; 
	top: 0; 
	left: -2em;
	width: 30px;
	height: 100%;
	z-index: 1;
	background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
	transform: skewX(-50deg);
	transition: all 0.3s;
	animation-duration: 3s;
	animation-delay: 0.01s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	background-position: 100% 0%;
	animation-name: slideme;
}

.bullet__under-btn:hover {
	transition: all 0.3s;
	opacity: .5;
}

.btn-title {
	color: var(--color-white);
	text-transform: uppercase;
	font-family: var(--UniNeueBold);
	font-size: 17px;
	font-weight: 700;
	background-color: transparent;	
}

.btn-icon {
	margin-right: 12px;
	margin-left: 6px;
}

.slider {
	display: flex;
    flex-direction: column;
}
.slider p {
	margin-top: 38px;
	margin-bottom: 20px;
	font-family: var(--UniNeueBold);
	font-size: 17px;
	padding-left: 11px;	
}
.slider__item {
	position: relative;

}
.slider__img{
	display: inline-block;
	margin-right: 11px;
	transition: 1s;
}
.slider__img:hover{
	transform: scale(1.5);
}
svg {
	width: 21px;
	position: absolute;
	top: 34px;
}

.prev {
	cursor: pointer;
	left: -30px;
}

.next {
	cursor: pointer;
	right: -8px;
}

.prev:hover {
	transition: all 0.3s;
	opacity: .5;
}
.next:hover {
	transition: all 0.3s;
	opacity: .5;
}

@media (min-width:1200px) and (max-width:1366px) {
	  
html {
	font-size: 10px;
}
body {
	font-size: 16px;
}
	section {
		width: 100%;
		max-width: 136.6rem;
		margin: auto;
	}
	.header {
		max-width: 120.0rem;
		
	}
	.header-header {
		margin-bottom: 4.4rem;
	}
	.header-header__title {
		width: 32.1rem;
    font-family: var(--UniNeueBook);
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: start;
    margin-right: 10.0rem;
}
  .header-header__local {
	margin-right: 5.0rem;
	width: 24.0rem;
  }
.header-header__btn {
	padding: 1.2rem 3.1rem;
	font-size: 1.6rem;
	margin-right: 8.0rem;
}




}

@media (min-width:1024px) and (max-width:1200px) {

}
@media (min-width:769px) and (max-width:1024px) {

}
@media (min-width:481px) and (max-width:769px) {

}
@media (min-width:320px) and (max-width:481px) {

}